{% extends 'base.html' %}

{% load widget_tweaks %}


{% block page_title %}Request a backup{% endblock %}

{% block content %}
    <h1>Request a backup</h1>
    <p>
        Once the backup is ready a link for downloading will be sent to your email.
    </p>
    <form action="{% url 'backups:request' %}" method="post">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endfor %}
        <div class="form-group">
            <label>Email</label>
            {% render_field form.email placeholder="john@gmail.com" class+="form-control" %}
        </div>
        <div class="form-group">
            <label>Workspace name</label>
            {% render_field form.workspace_name placeholder="EA charity support" class+="form-control" %}
            <small id="emailHelp" class="form-text text-muted">Case sensitive</small>
        </div>
        <div class="form-group">
            <label>Token</label>
            {% render_field form.token placeholder="0/d99c655f57c98a2ewa9f97a7698e814c" type="password" class+="form-control"  %}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}
