{% extends 'base.html' %}


{% block page_title %}Backup initiated{% endblock %}


{% block content %}
    <h1>The backup has been initiated</h1>
    <p>The downloading url will be sent to your email once it's ready, which might happen in 10m or few hours, depending on your workspace size.</p>
    <p>Beware - the downloading url is going to be valid only for {{ settings.URL_EXPIRING_IN_HOURS }}h.</p>
{% endblock %}
