{% extends 'base.html' %}


{% block page_title %}Download backup{% endblock %}


{% block content %}
    <h1>The backup is ready</h1>
    <p>The links are valid only for {{ settings.URL_EXPIRING_IN_HOURS }}h.</p>
    <p>In order to download it open the link in a new tab, right click on the page and select <code>Save As...</code></p>

    <ul>
        {% for url in urls %}
            <li><a href="{{ url }}">{{ url }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
